.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

.dropdown-container {
    background-color: #262626;
    padding-left: 8px;
    overflow: hidden;
    transition: all 0.3s linear;
}
  

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.active {
    background-color: green;
    color: white;
}



.glyphicon-menu-right,
.glyphicon-menu-up {
    float: right;
    padding-right: 8px;
    padding-top: 6px;
  }
  