.sidenav {
    padding-top: 8px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Style the sidenav links and the dropdown button */
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

.dropdown-container {
    background-color: #262626;
    padding-left: 8px;
    overflow: hidden;
    transition: all 0.3s linear;
}
  